body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1, h2, h3, label {
    color: #003366;
}

button, .button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3F8A00;
}

.input {
    width: 250px;
    padding: 7px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}


.Select-control {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Select-input input {
    color: #003366;
    /* Style the input field where text is typed */
}

.Select-menu-outer {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Select-option {
    padding: 8px 12px;
}

.Select-option:hover {
    background-color: #ddd;
}
