body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1, h2, h3, label {
    color: #003366;
}

button, .button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3F8A00;
}
