body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, label {
    color: #003366;
    padding: 5px;
}

button, .button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3F8A00;
}

.input {
    width: 250px;
    padding: 7px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}


.next-buses-dropdown {
    margin-bottom: 10px;
}


.next-buses-dropdown .Select-control {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.next-buses-dropdown .Select-input input {
    color: #003366 !important;
    /* Style the input field where text is typed */
}

 .next-buses-dropdown .Select-menu-outer {
    background-color: #f9f9f9 !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
}

.next-buses-dropdown .Select-option {
    padding: 8px 12px !important;
}

.next-buses-dropdown .Select-option:hover {
    background-color: #ddd !important;
}

.navbar {
    background-color: #003366;   /* Dark blue */
    color: white;
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: sticky;    /* Stays at top */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Navbar links */
.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px
    font-size: 18px;
}

.nav-link:hover {
    background-color: #050557;
    transition: background-color 0.2s ease-in-out;
}
