body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2, label {
    color: #003366;
    padding: 5px;
}

h3 {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;

}

.button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3F8A00;
}

.update-now-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

update-now-button:hover {
    background-color: #3F8A00;
}

.toggle-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

toggle-button:hover {
    background-color: #3F8A00;
}

.input-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

input-button:hover {
    background-color: #3F8A00;
}

.input {
    width: 250px;
    padding: 7px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}


.next-buses-dropdown {
    margin-bottom: 10px;
}

.navbar {
    background-color: #003366;   /* Dark blue */
    color: white;
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: sticky;    /* Stays at top */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Navbar links */
.nav-link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

