/* CSS file used to style the website */

/* Setting the background color and text font */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Setting the text color */
h1, h2, label {
    color: #003366;
    padding: 5px;
}

/* Container for all bus info in the bus tracker page apart from the map */
.info-1-container {
    height: 300px;
}


/* Setting title text for the bus tracker page as the relative position for the map */
.h2-bus-page-title {
    color: #003366;
    padding: 5px;
}

/* Same settings as H2 but with smaller margins for the top and bottom */
h3 {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;

}

/* Settings for the instruction text in the bus tracker page */
.h4-bus-page-instruction {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
    width: 650px;
}

/* Mobile test */
@media (max-width: 768px) {
    .h4-bus-page-instruction {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
    width: 100%;
    }
}



/* Settings for the instruction text in the next buses page */
.h4-stop-page-instruction {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
}

/* H3 settings for the bus tracker page */
.info-1-container h3 {
    color: #003366;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;

}

/* Settings for the description text in the home page */
h4 {
    color: #003366;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 7px;
    width: 1050px;

}

/* Settings for buttons on the home page */
.home-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Color when hovering over a button on the home page */
.home-button:hover {
    background-color: #3F8A00 !important;
}

/* Settings for the update now button in the bus tracker page */
.update-now-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Same hover setting as all buttons */
.update-now-button:hover {
    background-color: #3F8A00;
}

/* Settings for the buttons in the next buses page */
.next-buses-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Same hover setting as all buttons */
.next-buses-button:hover {
    background-color: #3F8A00;
}

/* Settings for the Show Next 5 Stops/Show All Upcoming Stops button on the bus tracker page */
.toggle-future-stops-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Same hover setting as all buttons */
.toggle-future-stops-button:hover {
    background-color: #3F8A00;
}

/* Settings for the Search and Clear buttons on the bus tracker page */
.input-button {
    background-color: #64D10A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

/* Same hover setting as all buttons */
.input-button:hover {
    background-color: #3F8A00;
}

/* Settings for the input in the bus tracker page where the user types in the bus number that they would like to track */
.input {
    width: 250px;
    padding: 7px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}


/* Dropdowns used to select the stop and route in the next buses page */
.next-buses-dropdown {
    margin-bottom: 10px;
}

/* Navbar shown on the top in every page */
.navbar {
    background-color: #003366;   /* Dark blue */
    color: white;
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: sticky;    /* Stays at top */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Navbar links */
.nav-link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 18px;
}

/* Navbar hover setting */
.nav-link:hover {
    text-decoration: underline;
}

/* Settings for the map shown in the bus tracker page, showing the current location of the bus */
#live-map {
    position: absolute;
    width: 800px;
    height: 600px;
    bottom: 570px;
    left: 750px;
    z-index: 10;
}

/* Container for the map in the bus tracker page */
.map-container {
    position: relative;   
    width: 1600px; 
}

/* Mobile test */
@media (max-width: 768px) {

    #live-map {
        position: relative;
        width: 50%;
        height: 400px;
        margin-top: -200px;
        bottom: auto;
        left: auto;
    }

    .map-container {
        width: 100%;
    }
}

/* Container for the map in the next buses page */
.next-buses-map-container {
    margin-top: 40px;
    width: 900px; 
}

